.Table,
{
  width:100%;
  margin-top: 15px;
  
}
.evenRow,
.oddRow {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}

.oddRow {
  background-color: #ededed;
}
.headerColumn {
  text-transform: none;
}
.nameRow{
  text-align: left;
}
.ContentBox {
  flex: 1 0 auto;
  flex-direction: column;
  background-color: #FFF;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
  background: white;
}
.ContentBox:first-of-type {
  padding-top: 1rem;
}

.Header {

  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  justify-content: space-evenly;
  margin: 0 0 0.5rem;
  background-color: #2C3E50;
  color:white;
  fill: white;
  font-family: Source Sans Pro;
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
}

.Small {
  font-size: .65em;
}
.Link:hover {
  text-decoration: none;
}

.checkboxLabel {
  margin-left: .5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}
.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}